<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/addEmployee">Add Employee</a>
        </li>
      </ul>
    </div>
</nav> -->


<nav>
  <div class="topnav">
      <a routerLink="/adminDashboard">Home</a>
      <!-- <a class="active" routerLink="orgProfile">Profile</a> -->
      <a routerLink="/addEmployee">Add Employee</a>
  </div>
</nav>




<div class="container base l1 bdy">
    <div class="col-sm">
      <div class="lst " style="padding-left: 400px;"><h1>Employee List</h1></div>
      <div class=" container base">
        <div class="row">
          <div class="col-sm">
            <div class="table-custom">
              <table class="table table-bordered table-dark ">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>OrganizationId</th>
                    <th>DepartmentId</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Position</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let employee of employees">

                    <td>{{employee.id}}</td>
                    <td (click)="getOrg(employee.id)">{{employee.organizationId}}</td>
                    <td (click)="getDep(employee.id)">{{employee.departmentId}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.age}}</td>
                    <td>{{employee.position}}</td>
                    <td><button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
                    <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 20px;">Delete</button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

