
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav> -->
<nav>
    <div class="topnav">
        <a routerLink="/adminDashboard">Home</a>
        <!-- <a class="active" routerLink="orgProfile">Profile</a> -->
        <a routerLink="">Logout</a>
    </div>
</nav>

<div class="container admin">
    
    <div class="row">
        <div class="col-md-6">
            <div class="row emp">
                <button type="button" (click)="manageEmployee()" class="btn btn-success">
                    Manage Employee
                  </button>
            </div>
            <div class="row dep">
                <button type="button" (click)="manageDepartment()" class="btn btn-success">
                    Manage Department 
                  </button>
            </div>
        </div>
        <div class="col-md-6" >
           
        </div>
    </div>
    <div class="row org">
        <button type="button" (click)="manageOrganization()" class="btn btn-success btnorg">
            Manage Organization 
          </button>
    </div>
</div>